<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <form action="" method="post">
        <input type="text"
        placeholder="Enter Delete Username"
        name="username"
        >
      <input type="submit"
      value="delete User" class="submit">
    </form>
</body>
</html>